@use '../styles/variables' as *;

.mainLayout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle at 50% 40%, $color-dark-green-gradient-start 0%, $color-dark-green-gradient-end 100%);
  color: $color-white;
  overflow: hidden;
}

.contentLayer {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.backgroundLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  
  svg {
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
}

.circleContainer {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none; 

  &.bottom {
    bottom: 20%; 
    top: auto;
  }

  &.center {
    bottom: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  > * {
    pointer-events: auto;
  }
}
