@use '../styles/variables' as *;

.header {
  width: 100%;
  padding: 20px 0;
  @include flex-center;
  margin-bottom: 20px;
  padding-top: 82px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
