@use '../styles/variables' as *;

.header {
  width: 100%;
  @include flex-center;
  margin-bottom: 76px;
  padding: 82px 0 0;

  &.compact {
    margin-bottom: 54px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
